*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    background-color: #363636;
    color: white;
    border: none;
    overflow-x: hidden;
}